<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CODA</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")'>
                    <img style="width: 100px; height: 60px" src='@Url.Content("~/Images/coda1.jpg")' />
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style="margin-left: 30px">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Learn <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Tabs By Artist", "Index", "Artists")</li>
                            <li>@Html.ActionLink("Tabs by Song", "Index", "Songs")</li>
                            <li>@Html.ActionLink("Top 10 Tabs", "Top10", "Tablatures")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Teach <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Add a New Tab", "Create", "Tablatures")</li>
                            <li>@Html.ActionLink("Become an Instructor", "Create", "Instructors")</li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Connect <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Create Your Member Profile", "Create", "MemberProfiles")</li>
                            <li>@Html.ActionLink("Connect With Other Members", "Index", "MemberProfiles")</li>
                            <li>@Html.ActionLink("Instructors Nearby", "Index", "Instructors")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Media <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Coda Blog", "Index", "BlogPosts")</li>
                            <li>@Html.ActionLink("Donate", "NewDonation", "PayPal")</li>
                        </ul>
                    </li>

                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Flagged Tabs", "FlaggedTabs", "Tablatures")</li>
                                <li>@Html.ActionLink("Top Rated Tabs", "TopRatedTabs", "Tablatures")</li>
                                <li>@Html.ActionLink("Create New Song", "Create", "Songs")</li>
                                <li>@Html.ActionLink("Create New Artist", "Create", "Artists")</li>

                            </ul>
                        </li>

                    }
                </ul>

                <ul class="nav navbar-nav navbar-right" style="margin-right: 50px">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <h4 align="center" style="bottom: 0; position: relative">&copy; @DateTime.Now.Year - Coda</h4>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/rating")
    @RenderSection("scripts", required: false)
</body>
</html>
