@model IEnumerable<Coda.Models.Artist>

@{
    ViewBag.Title = "Index";

}

<div class="quote">
    <h3>
        "Learn The Rules Like A <b style="color: lightcoral">Pro</b> So You Can Break Them Like An<b style="color: lightblue"> Artist</b>"
    </h3>
    <h5>Pablo Picaso</h5>
</div>

<div style="margin-top: 10%; margin-bottom: 10%">

    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "NewArtist")
        </p>
    }
    <p>
        @for (int y = 0; y < 26; y++)
        {
            char filter = Convert.ToChar(65 + y);
            string letter = filter.ToString();

            if (y == 27)
            {
                letter = "All";
            }

            @Html.ActionLink(letter + " ", "ArtistIndex", new { letter = letter });
        }
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <td>

                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                        @Html.ActionLink("Songs", "SongIndex", "Songs", new { id = item.Id }, null)
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Songs", "SongIndex", "Songs", new { id = item.Id }, null)
                    </td>
                }
            </tr>
        }
    </table>
</div>