@model IEnumerable<Coda.Models.UserViewModel>

<div class="instructor-index-wrapper">
    <div class="instructor-quote">
        <h3>
            "The best <b style="color: lightcoral">Instructors</b> Are Those Who Show You Where To<b style="color: lightblue"> Look</b> , <br /> But Don't Tell You What To See."
        </h3>
        <h5>Alexandra Trenfor</h5>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
        <h2>Instructors Near You</h2>
        <hr />

        foreach (var item in Model)
        {

            if (item.Image != null)
            {
                string imageBase64 = Convert.ToBase64String(item.Image);
                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                <ul class="demo-1 effect">
                    <li>
                        <h2>@Html.DisplayFor(m => item.UserName)</h2>
                        <p>@Html.DisplayFor(m => item.Content)</p>

                    </li>
                    <li>
                        <a href="@Url.Action("InstructorDetails", "Instructors", new {id = item.UserId})"><img src="@imageSrc" class="top" style="width: 340px; height: 227px" /></a>
                    </li>
                </ul>
            }
        }
    }
</div>
@section Styles {
    <link href="@Url.Content("~/Content/boxshadow.css")" rel="stylesheet" type="text/css" />
}