@model Coda.Models.Tablature

@{
    ViewBag.Title = "Create";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<link href="~/kindeditor/themes/default/default.css" rel="stylesheet" />
<script src="~/kindeditor/kindeditor-all-min.js"></script>
<script>
    KindEditor.ready(function(K) {
        window.editor = K.create('#editor_id');
    });
</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Add Tablature</h4>
        <hr />
        @*@Html.Hidden("SongId", (string)ViewBag.SongId)*@
        <div class="form-group">
            @Html.LabelFor(model => model.SongId, "Songs", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownList("SongId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SongId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, 50, 200, new { @id = "editor_id", style = "width: 100%; max-width: 100%;" })
                @*@Html.TextAreaFor(model => model.Content, new {@id = "editor_id", @rows = 50, @cols = 50})*@
            </div>
        </div>z
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
