@model Coda.ViewModels.TablatureWithRating

@{
    ViewBag.Title = "Details";
}

<br />
<br />
<br />
<br />
<br />


<link href="~/Content/bootstrap-rating.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-rating/bootstrap-rating.min.js"></script>
@section scripts
{
    <script>
        $(function () {
            $('input.check').on('change', function () {
                alert('Rating: ' + $(this).val());
            });
            $('.rating-tooltip').rating({
                extendSymbol: function (rate) {
                    $(this).tooltip({
                        container: 'body',
                        placement: 'bottom',
                        title: 'Rate ' + rate
                    });
                }
            });
            $('.rating').each(function () {
                $('<span class="label label-default"></span>')
                    .text($(this).val() || ' ')
                    .insertAfter(this);
            });
            $('.rating').on('change', function () {
                $(this).next('.label').text($(this).val());
            });
        });
    </script>
}


<div id="container" align="right">
    @Html.Partial("_Rating", Model)
</div>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<script src="~/Scripts/jtab/jquery.js" type="text/javascript"></script>
<script src="~/Scripts/jtab/raphael.js" type="text/javascript"></script>
<script src="~/Scripts/jtab/jtab.js" type="text/javascript"></script>

<h2 align="center">
    @Html.DisplayName(Model.SongName + " Tab")
</h2>
<h4 align="center">
    @Html.DisplayName("By " + Model.ArtistName)
</h4>
<br/>
<br/>
<br />

<div class="jtab">@Html.DisplayFor(m => m.Staff1)</div>
<div class="jtab">@Html.DisplayFor(m => m.Staff2)</div>
<div class="jtab">@Html.DisplayFor(m => m.Staff3)</div>
<div class="jtab">@Html.DisplayFor(m => m.Staff4)</div>
<div class="jtab">@Html.DisplayFor(m => m.Staff5)</div>
<div class="jtab">@Html.DisplayFor(m => m.Staff6)</div>
<div class="jtab">@Html.DisplayFor(m => m.Staff7)</div>
<div class="jtab">@Html.DisplayFor(m => m.Staff8)</div>
<div class="jtab">@Html.DisplayFor(m => m.Staff9)</div>
<div class="jtab">@Html.DisplayFor(m => m.Staff10)</div>
<br />
<br />
<br/>
<br />
<br />
<br />









































@*<div id="container">
    <div class="col-md-10">

        @using (Ajax.BeginForm("Details", "Tablatures", null, new AjaxOptions
        {
            LoadingElementId = "rating",
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace
        }))
        {
            <div >
                @Html.HiddenFor(m => m.Id)
                @Html.BootstrapRating().Value(Model.AverageRating).Fractions(4)
              <input type="submit" class="btn btn-success btn-sm" value="Submit" />
            </div>
        }
    </div>
</div>
<div id="rating">
        @Html.BootstrapRating(m => m.Rating).ReadOnly
  
    </div>*@














