@model Coda.Models.Tablature

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<br />
<br />
<br />
<br/>
<br />
<br />
<br />

<h3 align="center">
    @Html.DisplayName(Model.Song.Artist.Name + ": " + Model.Song.Name)
</h3>
<br/>
<div align="right">
    @Html.DevExpress().RatingControl(settings =>
{
    settings.Name = "rating1";
    settings.FillPrecision = RatingControlItemFillPrecision.Exact;

}).Bind(Model.Rating).GetHtml()
</div>
<br />
<dl class="dl-horizontal">
    <dd >
        @*@Html.Raw("<div style='text-align:center'>" + Model.Content.Replace("\n", "<br />") + "</div>")*@
        @Html.Raw(Model.Content.Replace("\n", "<br />"))
    </dd>

</dl>
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </p>
}

