@model System.Collections.Generic.IEnumerable<Coda.Models.Tablature>

@{
    ViewBag.Title = "FlaggedTabs";
}

<h2>Flagged Tabs</h2>


<table class="table flagged">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Song.Name)
        </th>
       <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
           Time Created
        </th> 
        <th>
            Total Raters
        </th>
        <th>
           Page Views
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
            @{
                item.AverageRating = Math.Round(item.Rating / (item.TotalRaters + 1), 2);
            }
        
        @if (item.AverageRating < 4)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Song.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRaters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageViews)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "ViewTab", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        }
    </tr>
}

</table>
