@model IEnumerable<Coda.Models.Tablature>

@{

}

<div class="tabs-index">
    <p>
        @Html.ActionLink("Create New", "CreateNewTab")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Song.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Song.Name, "ViewTab", new { id = item.Id })
                </td>
                <td>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                        <ul>
                            <li>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                            </li>
                            <li>
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </li>
                        </ul>
                    }
                </td>
            </tr>
        }
    </table>
</div>