@model IEnumerable<Coda.Models.Tablature>

@{
    ViewBag.Title = "TopRatedTabs";
}
<br />
<br />
<br />

<h2>Top Rated Tabs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="margin-bottom: 30%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Song.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalRaters)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageViews)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Song.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRaters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageViews)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
