@using System
@using System.IO
@using System.Linq
@using System.Web.UI.WebControls
@model System.Collections.Generic.IEnumerable<Coda.Models.UserViewModel>




<div style="margin-top: 10%; margin-bottom: 40%">


        @using (Html.BeginForm(null, null, FormMethod.Post, new {enctype = "multipart/form-data"}))
         {
             <h2>Connections Near You</h2>
             <hr/>

             foreach (var item in Model)
             {
                 if (item.Image != null)
                 {
                     string imageBase64 = Convert.ToBase64String(item.Image);
                     string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                     <ul class="demo-1 effect">
                         <li>
                             <h2>@Html.DisplayFor(m => item.UserName)</h2>
                             <p>@Html.DisplayFor(m => item.Content)</p>
                         </li>
                         <li>
                             <a href="@Url.Action("Details", "MemberProfiles", new {id = item.UserId})"><img src="@imageSrc" class="top" style="width: 340px; height: 227px"/></a>
                         </li>
                     </ul>
                 }
             }
         }
    
</div>



@section Styles {
    <link href="@Url.Content("~/Content/boxshadow.css")" rel="stylesheet" type="text/css" />
}
