@model Coda.Models.MemberProfile

@{
    ViewBag.Title = "Create";
}

<div align="center" style="margin-top: 5%; margin-bottom: 5%">
    <h3>
        "I Refuse To Join Any <b style="color: lightcoral">Club</b> That Would Have Me As A<b style="color: lightblue"> Member</b>"
    </h3>
    <h5>Comedian Groucho Marx</h5>
</div>

<div style="margin-top: 10%; margin-bottom: 40%">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h3 align="left">Create Your Member Profile</h3>

            <br />
            <br />


            <div class="form-group">
                @*<h4 style="color: #42dca3; font-family: cursive ">Tell us a litte bit about yourself</h4>*@
                <div>
                    @Html.TextAreaFor(model => model.AboutMe, new {style = "width: 1191px; height: 300px; font-size: 22px; font-weight: bold; outline-color: black; border: 1px solid black;", placeholder = "Tell us a little about yourself..." })
                    @Html.ValidationMessageFor(model => model.AboutMe, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <br />
            <hr />
            <br />
            <br />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group ">
                <label class = "control-label col-md-2">Name</label>
                <div class="col-lg-1">
                    @Html.EditorFor(model => model.UserName, new {htmlAttributes = new {@class = "form-control", @style = "width: 450px"}})
                    @Html.ValidationMessageFor(model => model.UserName, "", new {@class = "text-danger"})
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-1">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @style = "width: 450px" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group ">
                @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-1">
                    @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control", @style = "width: 450px" } })
                    @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <br />
            <hr/>
            <h4>Musical Prefrences</h4>
            <br />
            <br />

            <div class="form-inline" role="form">
               
                <div class="form-group">
                    @Html.LabelFor(model => model.Rock, htmlAttributes: new { @*@class = "control-label col-md-2"*@ })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Rock)
                            @Html.ValidationMessageFor(model => model.Rock, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.ClassicRock, htmlAttributes: new { @*@class = "control-label col-md-2"*@ })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.ClassicRock)
                            @Html.ValidationMessageFor(model => model.ClassicRock, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.PunkRock, htmlAttributes: new { @*@class = "control-label col-md-2"*@ })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.PunkRock)
                            @Html.ValidationMessageFor(model => model.PunkRock, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Grunge, htmlAttributes: new { @*@class = "control-label col-md-2"*@ })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Grunge)
                            @Html.ValidationMessageFor(model => model.Grunge, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Metal, htmlAttributes: new { @*@class = "control-label col-md-2"*@ })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Metal)
                            @Html.ValidationMessageFor(model => model.Metal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Blues, htmlAttributes: new { @*@class = "control-label col-md-2"*@ })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Blues)
                            @Html.ValidationMessageFor(model => model.Blues, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RAndB, htmlAttributes: new { @*@class = "control-label col-md-2"*@ })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.RAndB)
                            @Html.ValidationMessageFor(model => model.RAndB, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Pop, htmlAttributes: new { @*@class = "control-label col-md-2"*@ })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Pop)
                            @Html.ValidationMessageFor(model => model.Pop, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Alternative, htmlAttributes: new { @*@class = "control-label col-md-2"*@ })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Alternative)
                            @Html.ValidationMessageFor(model => model.Alternative, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <br />
                <br />
                <hr />
                <br />
                <br />

                <div class="form-group">
                    @Html.LabelFor(model => model.ConnectWithOtherMembers, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.ConnectWithOtherMembers)
                            @Html.ValidationMessageFor(model => model.ConnectWithOtherMembers, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <hr />
                <br />
                <br />



                <div class="col-md-10">

                    <p>Add Profile Picture</p>
                    <input type="file" id="file" name="file" /><br />
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
